## Note: .env file must be created before running "docker compose up -d"

# This environment variable is required, you can obtain tunnel token via Cloudflare -> Zero Trust -> Network -> Connectors.
# Or via Cloudflare's REST API: https://developers.cloudflare.com/cloudflare-one/networks/connectors/cloudflare-tunnel/get-started/create-remote-tunnel-api/
TUNNEL_TOKEN=your_long_token_here_xxxxxxxxx

# This environemtn variable is required for /domains endpoint and to validate registering new subdomain requests.
# Add space between each domain e.g: "z44d.com sshaven.online mm6x.nl"
# Using only one domain is possible
DOMAINS=

# This environment variable is required for you to use the PostgreSQL image.
# It must not be empty or undefined. This environment variable sets the superuser password for PostgreSQL.
# The default superuser is defined by the POSTGRES_USER environment variable.
POSTGRES_PASSWORD=

# This optional environment variable is used in conjunction with POSTGRES_PASSWORD to set a user and its password.
# This variable will create the specified user with superuser power and a database with the same name.
# If it is not specified, then the default user of postgres will be used.
POSTGRES_USER=

# This optional environment variable can be used to define a different name for the default database that is created when the image is first started. 
# If it is not specified, then the value of POSTGRES_USER will be used.
POSTGRES_DB=

# This is optionial environment variable can be used if you want to define the database url that hosted on other server/host. 
POSTGRES_URL=

# Github OAuth App, Register new OAuth App from https://github.com/settings/applications/new
# You will get Client ID, You have to generate Client Secret.

# This is required environment variables used to auth users. 
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# This is optional environment variables can be used to provide users who has access to admin panel, using theirs GitHub user's id.
# Providing only one user id is possible.
# To fetch user id by username, run: curl -s https://api.github.com/users/z44d | grep -w "id" 
ADMIN_IDS=

# This is optional environment variables in case you are not hosting the project locally.
BACKEND_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173

# This is equired environment variable.
JWT_SECRET=